@include style_separator(test, global, admin) {
  //---jQuery UI---*/

  .ui-helper-hidden {
    display: none;
  }

  .ui-helper-hidden-accessible {
    z-index: 5000;
    position: absolute;
    opacity: 0;
    left: 0;
    color: transparent;
    visibility: hidden;
  }

  //-------------------------------------------------------ui-dialog
  .ui-dialog {
    z-index: 1000;
    position: absolute;
    display: none;
    outline: 0;

    .no_animation & {
      display: none !important;
    }

    &.dialog_g_size_1 {
      .ui-dialog-content,
      .ui-dialog-titlebar {
        background: #fff;
      }
    }

    &.dialog_g_size_2 {
      .ui-dialog-content {
        background: #fff;
      }

      .ui-dialog-titlebar {
        background-color: transparent;
        height: 50  * $m;
      }

      .ui-dialog-titlebar-close {
        margin-top: 165  * $m;
      }
    }
  }

  .dialog_global {

  }

  .ui-resizable-handle {
    display: none !important;
  }

  .ui-widget-overlay {
    z-index: 500;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    //	background: #fff;
    background: transparentize(#000, .29);
  }

  .ui-helper-clearfix {
    display: block;
    &:after {
      display: block;
      height: 0;
      clear: both;
      content: "";
      visibility: hidden;
    }
  }

  .ui-dialog-titlebar-close {
    .dialog_close_butt_mod_1 & {
      @extend .icon-before;
      position: absolute;
      z-index: 2;
      top: 15  * $m;
      right: 30  * $m;
      width: 65 * $m;
      height: 65 * $m;
      font-size: 1.57em;
      border-radius: 100%;
      background: #ff5a5c;

      &:before {
        @extend %hor_vert_centr;
        position: absolute;
        color: #fff;
        font-size: 45  * $m;
        content: '\e914';
      }
    }

    .dialog_close_butt_mod_2 & {
      @extend .icon-before;
      position: absolute;
      z-index: 2;
      top: 15  * $m;
      right: 45  * $m;
      width: 65 * $m;
      height: 65 * $m;
      font-size: 1.57em;
      border-radius: 100%;
      background: #ff5a5c;

      &:before {
        @extend %hor_vert_centr;
        position: absolute;
        color: #fff;
        font-size: 45  * $m;
        content: '\e914';
      }
    }

    .no_close_mod & {
      display: none !important;
    }

    .no_title_mod & {

    }

  }

  .ui-dialog-titlebar {

    .dialog_g_title_1 & {
      @extend .icon-before;
      text-align: center;
      padding: 55  * $m 0;

      &:before {
        content: '\e912';
        display: inline-block;
        vertical-align: top;
        font-size: 140  * $m;
        color: #ff6567;
      }
    }

    .dialog_g_size_1 & {
      //на этот класс подвязывать размеры всех элементов диалога
    }

  }

  .ui-dialog-title {
    .no_title_mod & {
      font-size: 0 !important;
    }

    .dialog_colorschema_1_mod & {
      //создать цветовую схему
    }
  }

  .ui-dialog-content {
    position: relative;

    .no_title_mod & {
      border-radius: 6px;
    }

    .dialog_g_size_1 & {
    }
  }

  .dialog_g_butt_wrap {

  }

  //---------------------------------------------------------------------ui-dialog

}
