include mixins
doctype html
html(lang='ru')
    +dev_head('Divide оферта', false)

    body.offer_page
        .wrapper
            .rect_1024
            .base
                div.header
                    .section_inner.clearfix
                        ul.main_menu
                            li.menu_item
                                a.menu_link.active(href='#')
                                    span.link_text Как это работает?
                            li.menu_item
                                a.menu_link(href='partners.html')
                                    span.link_text Партнерам
                            li.menu_item
                                a.menu_link(href='friends.html')
                                    span.link_text Друзья Divide
                            li.menu_item.menu_item_logo
                                a.logo(href='#'): img(src='i/logo.png')
                            li.menu_item.menu_item_right
                                a.menu_link.wish_create_link(href='create.html')
                                    span.wish_l_icon: img(src='i/wish_link.png')
                                    span.link_text Создать желание
                            li.menu_item.menu_item_right
                                a.menu_link(href='divide.html')
                                    span.link_text.profile_icon Вход DIVIDE
    
                        .lang_block: .lang_switcher
                            a.lang_link(href='#'): img(src='i/flag_ukr.png')
                            ul.lang_list
                                li: a.lang_link(href='#'): img(src='i/flag_ukr.png')
                                li: a.lang_link(href='#'): img(src='i/flag_ukr.png')
                                li: a.lang_link(href='#'): img(src='i/flag_ukr.png')
                                
                .section
                    .section_inner
                        .public_offer
                            p
                                | УСЛОВИЯ ПОЛЬЗОВАНИЯ САЙТОМ «DIVIDE.GIFT», ПУБЛИЧНАЯ ОФЕРТА
                            p
                                | Пожалуйста, внимательно прочитайте Условия пользования сайтом (далее – «Условия») перед использованием сайта «divide.gift». Если Вы хотите стать нашим пользователем, Вы должны прочитать эти Условия и принять их. Если Вы не согласны с настоящими Условиями, пожалуйста, не используйте этот сайт.
                            p ПРЕАМБУЛА
                            p
                            p
                                | 1. Настоящие Условия являются юридически обязательным соглашением между ФОП Свистун Э.В. (далее – «Распорядитель Сайта»), с одной стороны, и третьим лицом (далее – «Пользователь»), с другой стороны.
                            p
                                | 2. Настоящие Условия носят характер публичной оферты и считаются принятыми при авторизации Пользователя, в том числе, но не ограничиваясь, через социальную сеть Facebook на сайте «divide.gift».
                            p
                                | 1. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ
                            p
                                | 1.1. В настоящих Условиях нижеприведенные термины, если иное не определено прямо, имеют следующее значение:
                            p
                                | Сайт – веб-сайт «divide.gift», который предлагает своим Пользователям услуги по размещению информации о своих Желаниях с целью последующего ознакомления с информацией потенциальных Участников и сбора денежных средств; услуги по распространению электронных денег, выпущенных Эмитентом.
                            p
                                | Пользователь – любое физическое лицо, согласившееся с Условиями, прошедшее авторизацию в установленной форме.
                            p
                                | Инициатор – пользователь, самостоятельно заполнивший анкету для размещения Желания, создавший Электронный кошелек, имеющий право на протяжении Периода исполнения Желания получать Взносы от Участников.
                            p
                                | Получатель – лицо, для которого организован сбор Взносов. Получатель и Инициатор могут быть одним лицом.
                            p
                                | Участник – Пользователь, который осуществляет Взнос в пользу Инициатора.
                            p
                                | Партнер – юридическое лицо или физическое лицо-предприниматель, реализующее товары или оказывающее услуги в соответствии с законодательством Украины, имеющее договор с Администратором Сайта, товары или услуги которого могут быть размещенные как Желания на Сайте.
                            p
                                | Эмитент – Публичное акционерное общество «ФИДОБАНК», которое осуществляет выпуск электронных денег «Platon» и принимает на себя обязательства по их погашению в соответствии с требованиями действующего законодательства Украины и Правил использования электронных денег «Platon».
                            p
                                | Оператор – Общество с ограниченной ответственностью «Платежи онлайн», которое обеспечивает организационные и технологические взаимосвязи и взаимодействие в системе «Platon» и осуществляет процессинг с целью обеспечения использования электронных денег.
                            p
                                | Подарок – информация о товаре или услуге, которая размещается на Сайте Инициатором самостоятельно с помощью кнопки «Создать подарок» или на веб-сайте Партнера или непосредственно созданная на Сайте, с целью размещения этой информации в других информационных ресурсах в Сети Интернет самостоятельно или с помощью автоматических действий Сайта.
                            p
                                | Профайл – учетная запись Пользователя на Сайте, которая используется в целях размещения и управления Желанием, позволяющая идентифицировать каждого Пользователя в том числе, но не ограничиваясь, при помощи аккаунта в социальной сети Facebook. Доступ к Профайлу предоставляется Пользователю после успешного прохождения процедуры авторизации.
                            p
                                | Код – это уникальная последовательность символов, передаваемая Пользователю для совершения покупки Желания. После введения кода Инициатором на веб-сайте Партнера Сумма списывается с электронного кошелька Инициатора как оплата Желания.
                            p
                                | Номер мобильного телефона – действующий абонентский номер мобильного телефона Пользователя, который является идентификатором Пользователя в системе «Platon».
                            p
                                | Взнос – совокупность наличных или безналичных денежных средств, переведенная Участником на Электронный кошелек Инициатора.
                            p
                                | Сумма – совокупность всех полученных Инициатором Взносов, достаточная для приобретения Желания.
                            p
                                | Период исполнения Желания – срок, на протяжении которого Инициатор имеет право получать Взносы от Участников, и Подарок находится в статусе «Активно».
                            p
                                | Электронные деньги – единицы стоимости, которые хранятся в Электронных кошельках (память компьютера), принимаются как средство платежа другими, чем Эмитент, лицами и являются денежным обязательством Эмитента.
                            p
                                | Электронный кошелек – учетная запись в базе данных Системы «Platon», содержащая данные о сумме электронных денег, которые находятся в распоряжении Пользователей.
                            p
                                | Статус «HOLD» – это временное резервирование (замораживание) всех Взносов на Электронном кошельке Инициатора на протяжении Периода исполнения Желания до момента подтверждения оплаты Желания.
                            p
                                | Платежный шлюз (Platon.ua) - интернет-сервис, агрегатор платежных инструментов. Отвечает за проведение оплат на веб-сайте Партнера. Предоставляет пользователю различные варианты оплаты, в том числе, оплата через Divide.gift
                            p
                                | 1.2. Все остальные определения, не указанные в пункте 1 настоящих Условий, должны определяться в соответствии с практикой делового оборота в области электронной коммерции и действующим законодательством Украины.
                            p
                            p
                                | 2. ЦЕЛЬ ИСПОЛЬЗОВАНИЯ САЙТА
                            p
                            p
                                | 2.1. Настоящие Условия определяют основные правила пользования Сайтом и условия предоставления Пользователю Администратором Сайта следующих услуг:
                            p
                                | 2.1.1. услуги по размещению информации;
                            p
                                | 2.1.2. услуги по распространению электронных денег, выпущенных Эмитентом.
                            p
                                | 2.2. Использование Пользователем услуг, связанными с электронными деньгами, осуществляется через систему «Platon» на основании договора, заключенного между Администратором сайта и Оператором. Сайт не является платежной системой и не предоставляет финансовые или другие услуги, которые подлежат лицензированию согласно действующему законодательству Украины.
                            p
                                | 2.3. Использование Сайта является бесплатным для всех Пользователей. Распорядитель Сайта не взимает комиссию или другие платежи с Пользователей за пользование Сайтом.
                            p
                                | 2.4. Пользователь обязуется использовать Сайт в строгом соответствии с настоящими Условиями и применимым законодательством.
                            p
                                | 3. ПОРЯДОК АВТОРИЗАЦИИ ПОЛЬЗОВАТЕЛЯ
                            p
                                | 3.1. Авторизация и создание Профайла означают полное и безоговорочное принятие настоящих Условий.
                            p
                                | 3.2. Выполняя авторизацию на Сайте, Пользователь подтверждает, что является совершеннолетним (18 лет) и дееспособным физическим лицом, и вся информация, предоставленная в ходе авторизации, является достоверной, точной и актуальной.
                            p
                                | 3.3. Пользователь обязуется, в том числе, но не ограничиваясь:
                            p
                                | 3.3.1. не авторизоваться в качестве Пользователя от имени или вместо другого лица («фальшивый Профайл»), или авторизовать юридическое лицо в качестве Пользователя;
                            p
                                | 3.3.2. не осуществлять незаконный сбор и обработку персональных данных других лиц;
                            p
                                | 3.3.3. не использовать программное обеспечение и осуществлять действия, направленные на нарушения нормального функционирования Сайта;
                            p
                                | 3.3.4. не использовать вирусы, троянские программы и другие вредоносные программы.
                            p
                                | 3.4. В случае неисполнения этих обязательств, Распорядитель Сайта имеет право принять все необходимые меры для того, чтобы прекратить нарушение. Распорядитель Сайта имеет право временно заблокировать Пользователю доступ к его Профайлу, тем самым ограничивая возможность управления Желанием и возможность получения Взносов от Участников. Распорядитель Сайта блокирует доступ до момента устранения Пользователем нарушений.
                            p
                                | 3.5. Пользователь несет ответственность за все действия в его Профайле или на Сайте.
                            p
                                | 3.6. Пользователь обязуется немедленно информировать Администратора Сайта в случае несанкционированного использования его данных другим Пользователем, или несанкционированного доступа к его Профайлу, как только ему становится известно об этом факте, чтобы блокировать доступ к таким данным. Для этого Пользователь должен направить соответствующее уведомление по адресу электронной почты.
                            p
                                | 4. УСЛУГИ ПО РАЗМЕЩЕНИЮ ИНФОРМАЦИИ
                            p
                                | 4.1. Инициатор имеет право создать Подарок.
                            p
                                | Для этого Инициатор:
                            p
                                | 4.1.1. выбирает желаемый товар или услугу на веб-сайте Партнера при помощи кнопки «Хочу в подарок», при нажатии которой происходит автоматическое перенаправление на Сайт; после авторизуется, в том числе, но не ограничиваясь, через социальную сеть Facebook для использования Сайта; или 4.1.2. авторизуется,
                                | в том числе, но не ограничиваясь, через социальную сеть Facebook для использования Сайта, и непосредственно на Сайте создает Подарок.
                            p
                                | 4.2. Подарок содержит следующую информацию:
                            p
                                | 4.2.1. данные об Инициаторе, полученные с его страницы в социальной сети Facebook;
                            p
                                | 4.2.2. данные о Подарке, полученные с веб-сайта Партнера, или самостоятельно внесенные Пользователем, включая загрузку изображения о Подарке;
                            p
                                | 4.2.3. данные о необходимой Сумме, полученные веб-сайта Партнера или самостоятельно внесенные Пользователем. При изменении цены товара или услуг на веб-сайте Партнера Сумма автоматически обновляется
                                | (не чаще, чем раз в сутки).
                            p
                                | 4.3. Инициатор не может создать более 1 (одного) активного Желания одновременно. Для сбора средств Инициатор может использовать только активное Подарок. 4.4. Инициатор имеет право:
                            p
                                | 4.4.1. размещать информацию о своих Желаниях на других сайтах в сети Интернет с целью последующего ознакомления с информацией потенциальных Участников, самостоятельно или с помощью автоматических действий Сайта;
                            p
                                | 4.4.2. получать Взносы от Участников на свой Электронный кошелек;
                            p
                                | 4.4.3. получать уведомления онлайн о любом новом Взносе;
                            p
                                | 4.4.4. получать онлайн в любое время историю осуществленных Взносов;
                            p
                                | 4.4.5. пополнить свой Электронный кошелек на количество электронных денег, необходимое для сбора всей Суммы, в случае если на протяжении Периода исполнения Желания Сумма не была собрана;
                            p
                                | 4.4.6. отменить Подарок. При этом полученные Взносы сохраняются на Электронном кошельке Инициатора для пополнения следующего активного Желания. Если отменяемое Подарок было ранее создано с веб-сайта Партнера
                                | согласно п.4.1.1 настоящих Условий, переброска средств с отменяемого Желания на новое активное Подарок возможна только в случае, если новое активное Подарок создано с веб-сайта того же Партнера.
                            p
                                | 4.5. Инициатор является покупателем на веб-сайте Партнера и в связи с этим несет ответственность за достоверность указанной информации, в том числе, но не ограничиваясь, адресом доставки,
                                | необходимого для её осуществления.
                            p
                                | 5. УСЛУГИ ПО РАСПРОСТРАНЕНИЮ ЭЛЕКТРОННЫХ ДЕНЕГ
                            p
                                | 5.1. Сайт предоставляет возможность каждому из Инициаторов, при помощи Оператора и системы «Platon», принимая условия Публичного договора, размещённого на сайте Оператора, открыть свой Электронный кошелек
                            p
                                | 5.2. Инициатор имеет право получать Взносы от Участников. Для этого Инициатор после создания Желания обязуется предоставить номер своего мобильного телефона, тем самым открывая свой Электронный кошелек в системе «Platon».
                                | Инициаторы, которые на время создания Желания уже имеют Электронный кошелек, могут использовать для получения Взносов от Участников его.
                            p
                                | 5.3. Участник имеет право осуществить Взнос на Электронный кошелек Инициатора при помощи системы «Platon». Для этого Участник осуществляет перевод Взноса на Электронный кошелек Инициатора.
                            p
                                | 5.4. За осуществление операций с электронными деньгами «Platon» с Пользователей взимается комиссия в соответствии с тарифами, размещёнными на веб-сайте Оператора.
                            p
                                | 5.5. Сайт при помощи системы «Platon» и на условиях, размещенных на сайте Оператора, предоставляет Инициатору возможность хранить Взносы со статусом «HOLD». Возврат средств Участникам, в рамках работы сайта Divide.gift, не предусматривается.
                            p
                                | 5.6. После сбора необходимой Суммы и окончания Периода исполнения Желания Инициатор имеет право оплатить свое Подарок путем оформления заказа на веб-сайте Партнера. При нажатии кнопки «Оплатить», «Оплатить через Divide.gift»
                                | (или подобной (аналогичной по функции) кнопки в интерфейсе платежного шлюза Platon.ua или на сайте Divide.gift или на веб-сайте Партнера) списывается Сумма с Электронного кошелька Инициатора как оплата за товар или услугу.
                                | Оплатить Подарок можно только той Суммой, которая была собрана на Подарок, созданное согласно с п.4.1.1 настоящих Условий. Данные вариант вывода средств доступен только для подключенных к Divide.gift веб-сайтов Партнеров.
                                | При отсутствии такой возможности, средства можно вывести другими способами, предусмотренными п.5.7 настоящего Соглашения.
                            p
                                | 5.7. В остальных случаях, кроме указанного в пункте 5.6 настоящих Условий, Инициатор имеет право вывести средства на карту украинского банка либо на счет в украинском банке либо пополнить собранными средствами счет
                                | у мобильного оператора на территории Украины. Комиссия за вывод средств составляет 4.9% + 10 грн. от собранной суммы. Пользователь соглашается с тем, что размер комиссии может измениться.
                            p
                                | 5.8. Если после окончания Периода исполнения Подарка необходимая Сумма не была собрана, Инициатор имеет право пополнить свой Электронный кошелек на количество электронных денег, необходимое для сбора всей Суммы,
                                | доплатить разницу с помощью своей платежной карты или выбрать другой товар или услугу на веб-сайте Партнера.
                            p
                                | 5.9. Если после окончания Периода исполнения Подарка выбранный на веб-сайте Партнера товар или услуга отсутствуют, Инициатор имеет право выбрать другой равноценный товар или услугу на веб-сайте Партнера.
                            p
                                | 6. ОТКАЗ ОТ ГАРАНТИЙ И ОГРАНИЧЕНИЕ ОТВЕТСВЕННОСТИ
                            p
                                | 6.1. Пользователь соглашается, что использует Сайт на свой страх и риск. Распорядитель Сайта не гарантирует точности и полноты информации, доступной на Сайте. Распорядитель Сайта не гарантирует, что работа Сайта
                                | будет бесперебойной, безошибочной, или без вредоносных программ или других дефектов.
                            p
                                | 6.2. Если Пользователь не удовлетворен условиями и/или качеством Сайта, он должен прекратить использование Сайта.
                            p
                                | 6.3. Используя Сайт, Участник гарантирует, что денежные средства, которые он использует для совершения Взносов, принадлежат ему на законных основаниях.
                            p
                                | 6.4. Пользователь самостоятельно несет ответственность, в том числе, но не ограничиваясь за загрузку изображений на Сайт, перед третьими лицами в случае нарушения Пользователем прав или законных интересов таких
                                | третьих лиц.
                            p
                                | 6.5. Распорядитель Сайта не несет ответственности за любой ущерб, убытки (прямые, непрямые, косвенные, случайные) и упущенную выгоду, возникшую в результате нарушения работы Сайта и/или в результате использования или
                                | невозможности использования Сайта.
                            p
                                | 6.6. Распорядитель Сайта не несет ответственности за любой ущерб, убытки (прямые, непрямые, косвенные, случайные) и упущенную выгоду, связанные с осуществлением покупки товаров или услуг, размещенных на веб-сайте Партнера.
                                | Каждая покупка является договором непосредственно между Пользователем и Партнером. Сайт не является стороной такого договора.
                            p
                                | 7. ОТВЕТСТВЕННОСТЬ СТОРОН
                            p
                                | 7.1. За неисполнение или ненадлежащее исполнение своих обязанностей по настоящим Условиям Распорядитель Сайта и Пользователь несут ответственность в соответствии с применимым законодательством, если иное не предусмотрено
                                | настоящими Условиями.
                            p
                                | 7.2. Пользователь обязуется не нарушать и не пытаться нарушать положения настоящих Условий. Если Распорядитель Сайта по своему усмотрению определит, что Пользователь нарушил или пытался нарушить настоящие Условия,
                                | то доступ Пользователя к Сайту может быть прекращен. Распорядитель Сайта оставляет за собой право сообщать о правонарушениях, совершенных Пользователем, уполномоченным государственным органам.
                            p
                                | 7.3. Пользователь этим соглашается освободить и обезопасить Администратора Сайта от любых претензий или требований со стороны каких-либо третьих лиц, в связи с или в результате нарушения Пользователем этих
                                | Условий или условий документов, на которые они ссылаются, а также в случае нарушения Пользователем любого закона или прав третьего лица.
                            p
                                | 8. КОНФИДЕНЦИАЛЬНОСТЬ
                            p
                                | 8.1. Регистрируясь на Сайте, Пользователь тем самым дает согласие на сбор, хранение, использование и разглашение своих персональных данных в соответствии с Законами Украины «О защите персональных данных»,
                                | «О защите прав потребителей», «О защите информации в информационно-телекоммуникационных системах».
                            p
                                | 9. ПРАВА ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
                            p
                                | 9.1. Все компоненты Сайта и Сайт в целом принадлежат Администратору Сайта и охраняются законодательством в сфере защиты прав интеллектуальной собственности. Все права защищены.
                            p
                                | 9.2. Пользователь подтверждает и соглашается с тем, что всё содержимое и материалы, которые доступны на Сайте, защищены, включая, но не ограничиваясь, авторским правом, торговыми марками, патентами,
                                | коммерческой тайной, ноу-хау. Воспроизведение, копирование или перераспределение в коммерческих целях любых материалов или элементов Сайта без письменного разрешения Администратора Сайта строго запрещено.
                            p
                                | 9.3. За исключением случаев, специально установленных Администратором Сайта, Пользователь обязуется не совершать действия, которые нарушают права интеллектуальной собственности Администратора Сайта,
                                | в том числе, но не ограничиваясь: продажу, импорт, экспорт, лицензирование, сдачу в аренду, изменение, распространение, копирование, воспроизведение, передачу, публичную демонстрацию, публичное исполнение,
                                | публикацию, адаптацию, редактирование или создание производных произведений от материалов, элементов дизайна или контента Сайта. Использование контента, материалов, других объектов прав интеллектуальной
                                | собственности Администратора Сайта в любых целях, прямо не указанных в настоящих Условиях, строго запрещено.
                            p
                                | 10. ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО И РАЗРЕШЕНИЕ СПОРОВ
                            p
                                | 10.1. Пользователь соглашается с тем, что эти Условия и отношения между Пользователем и Администратором Сайта регулируются правом Украины.
                            p
                                | 10.2. Все противоречия, которые могут возникать между Администратором Сайта и Пользователем в процессе исполнения настоящих Условий, стороны будут пытаться разрешить путем переговоров.
                            p
                                | 10.3. Пользователь соглашается, что для целей разрешения споров между Пользователем и Администратором Сайта эффективным и обязательным для использования средством коммуникации является e-mail переписка с
                                | уполномоченными лицами Администратора Сайта по адресу: ahtung@divide.gift
                            p
                                | 10.4. В случае, если стороны не придут к согласию относительно спора в течение 30 (тридцати) календарных дней, спор передается на рассмотрение в компетентный суд согласно законодательству Украины.
                            p
                                | 11. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
                            p
                                | 11.1. Настоящие Условия действительны до момента прекращения их действия одной из сторон.
                            p
                                | 11.2. Пользователь может прекратить действие этих Условий в любое время, прекратив использование Сайта. Пользователь считается прекратившим использование Сайта, если он не заходил на Сайт более 90 (девяноста)
                                | календарных дней подряд. При этом полученные Взносы сохраняются на Электронном кошельке Инициатора для исполнения следующего Желания согласно с пунктом 4.4.6. настоящих Условий.
                            p
                                | 11.3. Распорядитель Сайта может прекратить действие этих Условий в любое время, направив Пользователю соответствующее уведомление.
                            p
                                | 11.4. Распорядитель Сайта имеет право вносить изменения или дополнения к настоящим Условиям в любое время без какого-либо специального уведомления, разместив новую редакцию Условий на Сайте.
                                | Новая редакция Условий вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Условий.
                            p
                                | 12. ВОЗВРАТ ТОВАРА В МАГАЗИНЕ
                            p
                                | 12.1 Возвраты товаров осуществляются согласно действующему законодательству Украины. Регламенты, правила, комиссии повторного использования возвращенных средств идентичны собранным
                                | средствам и указаны выше в настоящем Соглашении (п.5.6).
                            p
                                | 12.2 Пользователь согласен с тем, что сервис Divide.gift никак не влияет и не может влиять на решение об возврате средств (или решении спорных ситуаций в пользу Пользователя о возврате средств)
                                | с магазинами партнерами и не несет ответственность за действия (или бездействие) сотрудников магазина-партнера и технических решений веб-сайта Партнера.
                            
            .footer
                .section_inner
                    .footer_table
                        .footer_cell
                            a.footer_link(href='#') Публичная оферта
                            a.footer_link(href='#') FAQ
                            
                        .footer_cell
                            ul.f_sh_block
                                li: a.sh_lnk.icon-facebook(href='#') 
                                li: a.sh_lnk.icon-vk(href='#') 
                                li: a.sh_lnk.icon-twitter(href='#') 
                                li: a.sh_lnk.icon-google-plus(href='#') 
                                li: a.sh_lnk.icon-at(href='#') 
                                
                            .copyright COPYRIGHT © 2016 Divide. ALL RIGHTS RESERVED
                            
                        .footer_cell
                            a.footer_link(href='#') Язык: Русский
                                            
            .decorations_block
                .the_sun
                .floating_cloud.f_cloud_1: img(src='i/how/cloud_float.png')
                .floating_cloud.f_cloud_2: img(src='i/how/cloud_float.png')
                .floating_cloud.f_cloud_3: img(src='i/how/cloud_float.png')
                .left_hill
                    img(src='i/hills_1.png')
                .right_hill
                    img(src='i/hills_2.png')
                .bird
                    img(src='i/how/bird.png')
                    

        //+popups()
        